body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
text-align: center;
}

img {
margin: auto;
display: block;
max-width: 100%;
}

nav {
  margin: auto;
  text-align: center;
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: chocolate;
}

figcaption{
  text-align: center;
  font-size: 12px;
}

#featured-property{
  width: 800px;
  text-align: center;
  margin: auto;
}
#feature-property figure{
  display: inline-block;
}

#details div{
  float: left;

  text-align: center;
  width: 25%;
  background-color: chocolate;
}
